



.cart-container h2 {
    margin-bottom: 20px;
}

.cart-container h2 span {
    color: #A0522D;
}

.cart-header{
    display:grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.cart-items{
    list-style: none;
    padding: 0;
}

.cart-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.product-info {
    display: flex;
    align-items: center;
    gap: 10px;
}