/*Estilos del componente Contactanos*/

.texto-contacto {
  text-align: center;
  margin-bottom: 20px 0;
  margin-bottom: 35px;
  font-size: 1.9rem;
  font-weight: 80;
  color: #6b4f3a;
  font-style: italic;
  font-family: 'Playfair Display', serif;
}

.imagenes-contacto {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.imagenes-contacto img {
  margin: 10px; 
  width: 150%; 
  max-width: 550px; 
  border-radius: 20px; 
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  justify-content: flex-end; 
  overflow: hidden;
}

.imagenes-contacto img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.link {
  color: #6b4f3a; 
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: 500;
}

.link:hover {
  color: #d7b899;
  transform: scale(1.05);
}

.icono-contacto {
  display: flex;
  justify-content: center;   
  gap: 12px;                
  margin: 10px 0;
}

.icono-chat, .icono-correo {
  color: #6b4f3a; 
  font-size: 1.9rem; 
  margin-right: 10px; 
  vertical-align: middle; 
  cursor: pointer;
}

.icono-chat:hover, .icono-correo:hover {
  color: #d7b899; 
  transform: scale(1.2); 
  transition: all 0.3s ease;
}