/*Estilos del componente Header*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* Se importaron diferentes fuentes desde Google Fonts para mejorar la apariencia del texto en el header */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {                                                                              
  position: sticky;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  justify-content: space-between;
  background-color: #6b4f3a; 
  color: white;
  padding: 0 40px;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; 
  align-items: center;
  z-index: 1000; /* asegura que el header esté por encima de otros elementos */
}

.logo-contenedor {
  width: 250px;       
  height: 200px;      
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:hidden;  
}

.logo {
  max-width: 100%;                                      
  max-height: 26%;         
  object-fit: contain; 
  transform: scale(2.3);     
  transform-origin: center; 
}

/* Efecto hover para el logo, moviento del mouse*/
.logo:hover {
  transform: scale(1.4);
  transition: transform 0.3s ease;
  color: black;
}

.titulo h1 {
  margin-bottom: 5px;
  font-size: 3.8rem;
  font-weight: 600;
  font-style: italic;
  font-family: 'Playfair Display', serif;
}

.titulo p {
  font-size: 1.9rem;
  font-style: italic;
  font-family: 'Dancing Script', cursive;
  margin-top: -18px; 
}

.derecha {
  display: flex;
  align-items: center;
  gap: 20px;
}

.busqueda {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 30px;       
  padding: 8px 15px;
  width: 200px;             
  margin-right: 40px; 
}

.busqueda input {
  border: none;
  outline: none;
  width: 100%;
  padding-left: 30px;        
  font-size: 1rem;
  background: transparent;
  color: #333;
  font-family: "Poppins", sans-serif;
}

.icono-busqueda {
  position: absolute;
  left: 12px;                
  color: black;           
  font-size: 1rem;
}

.busqueda:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.carrito {
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

.carrito:hover {
  transform: scale(1.1);
  transition: 0.2s;
  color: #333;
}
